<ion-header>
  <ion-toolbar>
    <ion-title>ถอนเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin-bottom">
    <ion-card color="tertiary">
      <ion-list>
        <ion-item color="tertiary">
          <ion-label>
            <h3>ถอนออกไปยัง</h3>
            <h2>
              <b>บัญชีของฉัน</b>
            </h2>
          </ion-label>
        </ion-item>
        <ion-item color="tertiary">
          <ion-label>
            <h3>บัญชีรับถอน</h3>
            <h2>
              <b>4056123336</b>
            </h2>
            <h2>
              <b>พร้อมเพย์</b>
            </h2>
          </ion-label>
        </ion-item>
        <ion-item color="tertiary">
          <ion-label>
            <h3>ชื่อบัญชี</h3>
            <h2>
              <b>อานน บางสาน</b>
            </h2>
            <h2>
              <b>anon bangsan</b>
            </h2>
          </ion-label>
        </ion-item>
        <ion-item color="tertiary" lines="none">
          <ion-label>
            <h3>จำนวนที่ต้องการถอน</h3>
            <h2>
              <ion-text color="danger">
                <b>103.30<small>THB</small></b>
              </ion-text>
            </h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
