<ion-header>
  <ion-toolbar>
    <ion-title>Mana Crypto Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <ion-list lines="none" *ngFor="let info of data" >
    <ion-list-header lines="none" mode="md">
      <ion-label>เลือกกระเป๋าเงิน Mana Crypto</ion-label>
    </ion-list-header>
    <ng-container *ngFor="let item of info.data">
      <ion-item button class="ion-margin-bottom" color="tertiary" (click)="goNext(item)">
        <ion-avatar slot="start">
          <img [src]="item.icon" />
        </ion-avatar>
        <ion-label>
          <b>{{item.name}}</b>
          <ion-text color="medium">
            <h3>
              {{item.subname}}
            </h3>
          </ion-text>
        </ion-label>
      </ion-item>
    </ng-container>
    
  </ion-list>

</ion-content>
