<ion-header>

</ion-header>

<ion-content>

  <ion-list lines="none" *ngFor="let info of data" >
    <ion-list-header lines="none" mode="md">
      <ion-label>เลือกกระเป๋าเงิน Crypto</ion-label>
    </ion-list-header>
    <ng-container *ngFor="let item of info.data">

    <a *ngIf="item.link" target="_blank" [routerLink]="item.link">
      <ion-item button class="ion-margin-bottom" color="tertiary">
        <ion-avatar slot="start">
          <img src="{{item.imgUrl}}" />
        </ion-avatar>
        <ion-label>
          <b>{{item.currencyName}}</b>
          <ion-text color="medium">
            <h3>
              <img width="12" height="12" src="assets/imgs/defaultshop.png"> Crypto {{item.currencyName}}
            </h3>
          </ion-text>
        </ion-label>
        <ion-note slot="end" color="danger">{{item.balance}} {{item.currencySymbol}}</ion-note>
      </ion-item>
    </a>
    </ng-container>
    
  </ion-list>

</ion-content>
