<ion-header>
  <ion-toolbar>
    <ion-title>note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">
  <ion-card color="tertiary">
    <ion-card-content>
      <ion-label>
        <h2>
          1. ถ้าต้องการเล่น <b>flow รูปแบบที่ (2)</b> ห้าม <b>refresh</b> หน้าเว็ป เพราะ อาจจะทำให้ navigate ไปไม่ถูกหน้า
        </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <br>  
  <ion-card color="tertiary">
    <ion-card-content>
      <ion-label>
        <h2>
          2.1 กระเป๋า crypto wallet (กระเป๋าเร็ว) จะมี <b>icon mana</b> ห้อยอยู่ซ้ายบนเพื่อกันสับสนระหว่าง <b>กระเป๋าเร็ว</b> กับ <b>กระเป๋าช้า</b>
        </h2>
        <br>
        <h2>
          2.2 ถ้าเห็นว่ามันจะมีคำถามตามมาสามารถเปลี่ยนหรือเอาออกได้
        </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card color="tertiary">
    <ion-card-content>
      <ion-label>
        <h2>
          3.1 หน้ากรอก "จำนวนเงินต้นทาง" และ convert เป็น "จำนวนเงินปลาย" เปลี่ยนเป็นสีดำแล้ว เพราะ ใน design ล่าสุด
          input จำนวนเงินทุกอันเป็น <b>สีดำ</b> แล้ว
        </h2>
        <br>
        <h2>
          3.2 ที่ทีม dev แจ้งว่ามีการใส่ input เป็น<span><b><ion-text color="danger">สีแดง</ion-text></b></span>ในปัจจุบัน mana มีช่องกรอก input เป็น <span><b><ion-text color="danger">สีแดง</ion-text></b></span>
        </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card color="tertiary">
    <ion-card-content>
      <ion-label>
        <h2>
          4.1 มีประเด็นที่อาจจะต้องถกกันเพิ่ม คือ flow <b>เติมเงิน</b> ผ่าน <b>crypto wallet (กระเป๋าช้า)</b>
        </h2>
        <br>
        <h2>
          4.2 ประเด็น คือ เมื่อมีการโอนเหรียญที่ต้นทางมีการจ่ายค่า <b>gas</b> เป็น <b>คนละสกุลเงิน</b> คนโอนต้องเลือก <b>กระเป๋าตังค์ตามสกุลที่ต้องจ่าย</b>
        </h2>
        <br>
        <h2>
          4.2 ประเด็น คือ เมื่อมีการโอนเหรียญที่ต้นทางมีการจ่ายค่า <b>gas</b> เป็น <b>คนละสกุลเงิน</b> คนโอนต้องเลือก <b>กระเป๋าตังค์ตามสกุลที่ต้องจ่าย</b> ฉนั้นในหน้านี้อาจจะมีการเลือกกระเป๋าที่ต้องการจ่ายค่า gas ได้ด้วย
        </h2>
        <br>
        <h2>
          4.3 ตัวอย่าง เลือกกระเป๋า <b>WalletX_Eterium</b> => <b>เติม</b> => <b>เติมผ่านกระเป๋า Crypto</b> => <b>Crypto_USDT</b>
        </h2>
        <br>
        <h2>
          4.4 จากข้อ 4.3 USDT อยู่บน chain ของ ETH จึงต้องจ่ายด้วยสกุลเงิน ETH 
        </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card color="tertiary">
    <ion-card-content>
      <ion-label>
        <h2>
          5.1 ถ้าหน้าไหนพังเล่นไม่ได้แจ้ง เก้น นะครับ
        </h2>
        <br>
        <h2>
          5.2 ถ้ามีคำถามเกี่ยวกับ flow ถาม เก้น โชค พี่เอก ได้ครับ
        </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <br>
</ion-content>