<ion-content mode="ios">

  <ion-list lines="none">

    <ion-item color="tertiary" button class="ion-padding-bottom">
      <ion-label>
        <b>โปรดระบุที่อยู่ปัจจุบันของคุณ</b>
        <ion-text color="medium">
          <h3>ต้องระบุ</h3>
        </ion-text>
      </ion-label>
      <ion-note>
        <ion-label color="primary">
          <h3>ทำแล้ว</h3>
        </ion-label>
      </ion-note>
    </ion-item>

    <ion-item color="tertiary" button class="ion-padding-bottom">
      <ion-label>
        <b>ข้อมูลเกี่ยวกับ mana</b>
        <ion-text color="medium">
          <h3>ระบุหรือไม่ก็ได้</h3>
        </ion-text>
      </ion-label>
      <ion-note>
        <ion-label color="danger">
          <h3>ยังไม่ได้ทำ</h3>
        </ion-label>
      </ion-note>
    </ion-item>

    <ion-item color="tertiary" class="ion-padding-bottom">
      <ion-label>
        <b>ข้อมูลที่ไม่เกี่ยวกับ mana</b>
        <ion-text color="medium">
          <ion-radio-group name="number" value="1" mode="md">
            <ion-item color="tertiary">
              <ion-radio value="1" slot="start"></ion-radio>
              <ion-label>ตัวเลือกที่ 1</ion-label>
            </ion-item>
            <ion-item color="tertiary">
              <ion-radio value="2" slot="start"></ion-radio>
              <ion-label>ตัวเลือกที่ 2</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>


</ion-content>