<ion-header>
  <ion-toolbar>
    <ion-title>crypto-deposit-qr-complete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <ion-card color="tertiary">
    <ion-card-content class="ion-no-padding">
      <div class="ion-text-center ion-padding-top">
        <div class="ion-text-center">
          <img src="assets/imgs/qrcode.png" />
        </div>
        <ion-label class="ion-text-center">
          <h3><b>{{reciever.name}}</b></h3>
        </ion-label>
      </div>

      <ion-list color="tertiary" class="ion-margin-top" lines="none">
        <ion-item class="ion-no-padding" color="tertiary" lines="none">
          <ion-label class="ion-padding-start">
            <h2><b>รายละเอียด</b></h2>
          </ion-label>
        </ion-item>
        <ion-item class="ion-no-padding" color="tertiary" lines="none">
          <ion-label class="ion-padding-start" slot="start">
            <h2><b>Address</b></h2>
          </ion-label>
          <ion-label class="ion-padding-start" slot="end">
            <h3><img height="15" src="assets/imgs/copy.png" />คัดลอก</h3>
          </ion-label>
        </ion-item>
        <ion-item class="ion-no-padding" color="tertiary" lines="none">
          <ion-label class="ion-padding-start">
            <h3>{{address}}</h3>
          </ion-label>
        </ion-item>

        <ion-item  class="ion-no-padding"color="tertiary" lines="none">
          <ion-label class="ion-padding-start" slot="start">
            <h2><b>Network</b></h2>
          </ion-label>
        </ion-item>
        <ion-item class="ion-no-padding" color="tertiary" lines="none">
          <ion-label class="ion-padding-start">
            <h3>{{networkSelected}}</h3>
          </ion-label>
        </ion-item>

        <ion-item class="ion-no-padding" color="tertiary" lines="none">
          <ion-label class="ion-padding-start" slot="start">
            <h2><b>Memo</b></h2>
          </ion-label>
          <ion-label class="ion-padding-start" slot="end">
            <h3><img height="15" src="assets/imgs/copy.png" />คัดลอก</h3>
          </ion-label>
        </ion-item>
        <ion-item class="ion-no-padding" color="tertiary" lines="none">
          <ion-label class="ion-padding-start">
            <h3>1273916239514</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="ion-no-border">
  <form>
    <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit"
      (click)="goHome()">ปิด
    </ion-button>
  </form>
</ion-footer>