<ion-header>
  <ion-toolbar>
    <ion-title>crypto-deposit-qr-complete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="tertiary">
    <ion-card-content>
      <div class="ion-text-center">
        <img src="assets/imgs/qrcode.png" />
      </div>
      <ion-label color="dark">
        <h2 class="ion-margin-top ion-text-center"><b>{{reciever.name}}</b></h2>
      </ion-label>
      <br>
      <div class="text-indent">Address
        <br>
        <div class="text-indent"><b>{{address}}</b></div>
      </div>
      <br>
      <div class="text-indent">Network
        <br>
        <div class="text-indent"><b>{{networkSelected}}</b></div>
      </div>
      <br>
      <div class="text-indent">Memo
        <br>
        <div class="text-indent"><b>ตรงนี้คือ memo</b></div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
