<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding-top">
  <ion-list lines="none">
    <ion-card color="tertiary">
      <ion-card-content class="ion-no-padding">
        <div class="ion-text-center ion-padding-top">
          <ion-avatar slot="start" class="avatar-l center ion-margin-bottom">
            <img [src]="reciever.icon">
          </ion-avatar>
          <ion-label class="ion-text-center">
            <h2><b>{{reciever.name}}</b></h2>
          </ion-label>
        </div>

        <ion-item class="ion-no-padding" color="tertiary" lines="full">
          <ion-grid class="ion-padding">
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2"><b>รายละเอียดธุรกรรม</b></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label color="medium">
                  <h3 class="line-height2">รวมทั้งหมด</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="danger">
                  <h3><b>{{transaction.converted}} <small>{{reciever.currency}}</small></b></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label color="medium">
                  <h3 class="line-height2">จำนวนเงิน</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="medium">
                  <h3>{{transaction.amount}} <small>{{sender.currency}}</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label color="medium">
                  <h3 class="line-height2">ค่าธรรมเนียม</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="medium">
                  <h3>{{transaction.fee}} <small>{{sender.currency}}</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="transaction.gas != null">
              <ion-col class="ion-no-padding">
                <ion-label color="medium">
                  <h3 class="line-height2">ค่า gas</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="medium">
                  <h3>{{transaction.gas.amount}} <small>{{transaction.gas.currency}}</small></h3>
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-label>
                  <h3 class="line-height2">&nbsp;</h3>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-text-right">
                <ion-label color="medium">
                  <h3>*รวมทั้งหมด ({{sender.currency}})<b>
                      {{totalPay}}
                      <small>{{sender.currency}}</small></b>
                  </h3>
                  <h3 *ngIf="sender.currency == 'USDT'">*รวมทั้งหมด ({{transaction.gas.currency}})<b>
                      {{transaction.gas.amount}}
                      <small>{{transaction.gas.currency}}</small></b>
                  </h3>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-list class="ion-margin-top" lines="full">
          <ion-item color="tertiary" lines="full">
            <img slot="start" width="22" height="22" class="qr" [src]="sender.icon" />
            <ion-label class="ion-no-margin" color="medium">
              <h3>{{sender.subname}}</h3>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="sender.currency == 'USDT'" color="tertiary" lines="full">
            <img slot="start" width="22" height="22" class="qr" [src]="GasWallet.icon" />
            <ion-label class="ion-no-margin" color="medium">
              <h3>{{GasWallet.name}}</h3>
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list class="ion-margin-top" lines="full">
    <div *ngIf="reciever.extraPrefix != null">
      <ion-item class="ion-no-padding" color="tertiary" lines="full">
        <ion-label class="ion-padding-start">
          <h3><b>เพิ่มเติม</b></h3>
          <h3 *ngFor="let item of reciever.extraPrefix ; let i = index">
            <b>{{item}}</b>&nbsp;
            <ion-text color="medium">{{reciever.extraText[i]}}</ion-text>
          </h3>
        </ion-label>
      </ion-item>
    </div>

    <ion-item class="ion-no-padding" color="tertiary" lines="none">
      <ion-label class="ion-padding-start">
        <h3><b>หมายเหตุ</b></h3>
        <h3>
          <ion-text color="medium">มีหยังก็ใส่มาหมายเหตุในฝัน</ion-text>
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit" (click)="goNext()">
    ตกลง
  </ion-button>
</ion-footer>