<ion-header>
  <ion-toolbar>
    <ion-title>crypto-select-method</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">

    <ion-item button color="tertiary">
      <ion-avatar slot="start">
        <img src="assets/imgs/qrcode.png" />
      </ion-avatar>
      <ion-label>
        <b>เติมเงินผ่าน address</b>
      </ion-label>
    </ion-item>
    
    <ion-item button color="tertiary">
      <ion-avatar slot="start">
        <img src="assets/imgs/qrcode.png" />
      </ion-avatar>
      <ion-label>
        <b>เติมเงินผ่านกระเป๋ามานะ</b>
      </ion-label>
    </ion-item>

    <ion-item button color="tertiary">
      <ion-avatar slot="start">
        <img src="assets/imgs/qrcode.png" />
      </ion-avatar>
      <ion-label>
        <b>เติมเงินผ่านกระเป๋า Crypto</b>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
