<ion-header>
  <ion-toolbar>
    <ion-title>Mana Crypto Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-item lines="none" color="danger" class="ion-text-center">
    <ion-label>
      <h3>{{wallet.name}}</h3>
      <h3>ยอดเงินปัจจุบัน</h3>
      <h1><b>{{wallet.balance}} <small>{{wallet.currency}}</small></b></h1>
    </ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button class="no-shadow center" mode="md" color="danger" expand="block" (click)="goNext('DEPOSIT')">
          เติม
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button class="no-shadow center" mode="md" color="danger" expand="block" (click)="goNext('WITHDRAW')">
          ถอน
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-list lines="none" *ngFor="let info of data">

    <ng-container *ngFor="let item of info.data">
      <ion-item button color="tertiary">
        <ion-avatar slot="start">
          <img src="{{item.imgLink}}" />
        </ion-avatar>
        <ion-label>
          <b>{{item.title}}</b>
          <ion-text color="medium">
            <h3>
              <img width="12" height="12" src="{{item.imgLink}}"> รายละเอียด
            </h3>
          </ion-text>
        </ion-label>
        <ion-note slot="end" color="{{item.logType}}">1 BTC</ion-note>
      </ion-item>
    </ng-container>

  </ion-list>

</ion-content>