<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transaction ion-padding-top" mode="ios">
  <form>
    <ion-card class="ion-padding-top" color="tertiary">
      <ion-item class="ion-text-center ion-margin-bottom" color="tertiary" lines="none">
        <ion-grid class="ion-padding">
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center">
              <div class="content-center">
                <img class="icon transaction-img" [src]="sender.icon">
              </div>
              <ion-icon class="right-arrow" name="chevron-forward-sharp"></ion-icon>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <div class="content-center">
                <img class="icon circle transaction-img" [src]="reciever.icon">
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center ion-no-padding">
              <ion-label class="ion-text-nowrap">
                <h3><b> {{sender.name}}</b></h3>
              </ion-label>
            </ion-col>
            <ion-col size="6" class="ion-text-center ion-no-padding">
              <ion-label class="ion-text-nowrap">
                <h3><b> {{reciever.name}}</b></h3>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item class="ion-text-center" color="tertiary" lines="full">
        <ion-label color="danger" class="ion-padding-bottom">
          <h2><b>
              <ion-icon color="primary" name="checkmark-circle-sharp"></ion-icon>
              {{transaction.converted}}
              <small>{{reciever.currency}}</small>
            </b>
          </h2>
          <ion-text color="medium">
            <h3>
              <ion-icon></ion-icon>
              {{transaction.amount+transaction.fee+transaction.gas}}
              <small>{{sender.currency}}</small>
            </h3>
          </ion-text>
        </ion-label>
      </ion-item>
      <!-- ============================================================================== -->
      <ion-item *ngIf="flow.split('_')[1]=='CRYPTo'" color="tertiary" class="ion-padding-vertical" lines="full">
        <ion-avatar slot="start" class="avatar-m">
          <img class="non-circle" src="assets/imgs/qrcode.png" />
        </ion-avatar>
        <ion-label>
          <h2><b>รหัสอ้างอิง : TST</b></h2>
          <ion-text color="medium">
            <h3>วันที่ : {{now| date:'dd/MM/yyyy ( H:mm )'}}</h3>
          </ion-text>
        </ion-label>

        <ion-note>
          <ion-label>
            <h3>
              <a class="link-medium">
                <ion-icon name="share-outline"></ion-icon>&nbsp;แชร์
              </a>
            </h3>
          </ion-label>
        </ion-note>
      </ion-item>
      <!-- ============================================================================== -->
      <ion-item *ngIf="flow.split('_')[1]=='CRYPTO'" color="tertiary" class="ion-padding-vertical" lines="full">
        <ion-label class="ion-text-center">
          <h2>
            <ion-text>กำลังดำเนินการโอน crypto ไปยังปลายทาง</ion-text>
          </h2>
          <h2>
            <ion-text>กรุณารอสังครู่...</ion-text>
          </h2>
        </ion-label>
      </ion-item>
      <!-- ============================================================================== -->
      <div *ngIf="reciever.extraPrefix != null">
        <ion-item lines="none" color="tertiary">
          <ion-label>
            <h2><b>เพิ่มเติม</b></h2>
          </ion-label>
        </ion-item>

        <div class="item-bottom">
          <slot name="error"></slot>
          <slot name="helper"></slot>
        </div>
        <ion-item color="tertiary" lines="full">
          <ion-grid class="ion-no-padding">
            <ion-label class="ion-padding-bottom">
              <h2 *ngFor="let item of reciever.extraPrefix ; let i = index">
                <b>{{item}}</b>&nbsp;
                <ion-text color="medium">{{reciever.extraText[i]}}</ion-text>
              </h2>
            </ion-label>
          </ion-grid>
        </ion-item>
      </div>

      <ion-item color="tertiary" lines="none">
        <ion-label>
          <h2><b>หมายเหตุ</b></h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="none">
        <ion-textarea type="text" placeholder="" rows="1" [disabled]="true">
          มีหยังก็ใส่มาหมายเหตุในฝัน</ion-textarea>
      </ion-item>

    </ion-card>
    <div size="12" class="indentation">
    </div>
    <br>
    <ion-label color="medium" class="ion-text-center">
      <h3>
        <a class="link-medium">
          <ion-icon name="receipt-outline"></ion-icon>&nbsp;ดูรายละเอียดธุรกรรม
        </a>
      </h3>
    </ion-label>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button expand="full" (click)="goHome()">ปิด
  </ion-button>
</ion-footer>