<ion-header>
  <ion-toolbar>
    <ion-title>ถอนห</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <form>
    <ion-item color="tertiary" class="ion-padding-vertical">
      <ion-avatar slot="start" class="avatar-m">
        <img [src]="fixWallet.icon">
      </ion-avatar>
      <ion-label>
        <h2><b>ชื่อร้านค้า</b></h2>
      </ion-label>
      <ion-label slot="end" color="medium" class="ion-text-end">
        <h3>{{fixWallet.amount}} {{fixWallet.currency}}</h3>
      </ion-label>
    </ion-item>
    <ion-item lines="full" color="tertiary">
      <ion-label position="stacked">address ผู้รับ</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item lines="full" color="tertiary">
      <ion-label position="stacked">nextwork</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item lines="full" color="tertiary">
      <ion-label position="stacked">จำนวน</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <form >
  <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" (click)="goNext()">ตกลง
  </ion-button>
  </form>
</ion-footer>